/* Configurações gerais */

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#c0c0c0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;

    --fonte-principal:'Inter', sans-serif;

    --botao-azul-efeito:#3d87e1;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color:var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}
/* ---------Estilização das Sections------- */

.principal{
    background-image: url("/assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;  
    align-items: center; 
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;   
        
         
}

.container__caixa{
    margin: 11.5em;  
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.container_imagem{
    margin: 1em 0 2em 0;    
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding:1em;
    color:var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1em;

    display: flex;
    align-items: center;
    justify-content: center;   
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color:var(--cor-de-fundo);
}

.container__botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    border-radius: 5px ;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none; 
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__botao_secundario:hover{
    background-color: var(--botao-azul-efeito);
    color:var(--cor-de-fundo);
}

.container__aviso{
    font-size: 0.75rem;
    color:var(--cinza-secundario); 
    margin-top: 10px;    
}

/* ---------------------------------- */

.secundario{
    align-items:center;
    margin: 0 10em;
}

.container__secundario__imagem{
    width: 80%;   
}

.container_descricao{
    padding: 2em;
}

.descricao__titulo{
    font-size: 3rem;
    font-weight: 700;
    color:var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color:var(--cinza-secundario)
}

/* --------------------------------------- */

.secundario__botao{
    display: inline-block;
    margin-top: 1em;    
}


.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 3rem; 
    color:var(--branco-principal);  
    font-family: var(--fonte-principal);
    font-weight: 700;  
}

.dispositivos__lista{
    display: flex;
    justify-content: center;  
    list-style-type: none; 
    margin: 5em 0; 
}

.lista__item{
    font-size: 2rem;
    color:var(--branco-principal);
}

/* -------------Footer-------------- */

.rodape{
    display:inline-block;
    justify-content: center;
    margin: 0 20%;
    text-align: center;       
}

.rodape__logo{
    margin-bottom: 2em;
}

.rodape__lista{
    display: flex;
    gap:16px;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 16px;
}

.lista__link a:hover{
    color:var(--botao-azul);
    background-color: var(--branco-principal);
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.lista__link a{
    text-decoration: none;
    color:var(--branco-principal);
}

.rodape__texto{
    font-size: 0.87rem;
    color: var(--cinza-secundario);
  
    font-family:var(--fonte-principal);
    font-size: 0.87rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 1em;  
}

/* ----Responsividade----*/

@media (max-width:1200px) {

    .principal{
        display: flex; 
        flex-direction: column;      
        justify-content: center; 
        align-items: center;  
    }
    .container__caixa{
        margin-top:0cqh 600px  
    }
    .secundario{
        display: flex;
        flex-direction: column;
    }
    .dispositivos__lista{
        display: flex;
        flex-direction: column;
    }   
}